annotated-types==0.7.0
asgiref==3.11.1
black==26.1.0
blinker==1.9.0
click==8.3.1
Flask==3.1.2
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mypy-extensions==1.0.0
packaging==24.2
pathspec==1.0.4
platformdirs==4.9.1
pyaes==1.6.1
pyasn1==0.6.2
pydantic==2.12.5
pydantic_core==2.41.5
python-dotenv==1.2.1
pytokens==0.4.1
rsa==4.9.1
Telethon==1.42.0
typing-inspection==0.4.2
typing_extensions==4.15.0
Werkzeug==3.1.5
